body {
    background-color: rgb(7, 9, 27);
    color: burlywood;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    width: 384px;
    margin: 0 auto;
    justify-content: center;
}

.square {
    height: 20px;
    width: 20px;
    background-color: burlywood;
    margin: 1px 1px;
    border: 1px solid black;
}